# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
*.env
*.key
*.pem
*.crt
*.p12
credentials.json
Thumbs.db
.directory
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sensitive files
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart
Podfile.lock
firebase.json
android/app/build.gradle

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related (optional)
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
.packages
flutter_export_environment.sh
generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

ios/Podfile
ios/Runner.xcodeproj/project.pbxproj
macos/Podfile
ios/Runner/Info.plist
ios/Runner/Runner.entitlements

ios/Runner.xcodeproj/project.pbxproj
ios/Runner/Info.plist
pubspec.lock